header {
    border-radius: 10px;
    background-color: #cc0000;
    padding: 10px;
    margin: 10px;
}
header img {
    float: left;
    margin: 10px 10px 10px 10px;
}

h1{
	color:#ffffff;
}

h2{
  font-size: 70px;
}

h3{
  font-size: 70px;
  color:#fff;
}

h4{
  font-size: 50px;
}

body{
    background-image: url('hatter.jpg');
    background-size: 2000px;
    background-repeat: no-repeat; 
}




nav ul a {
    text-decoration: none;
    color: #ffffff;

}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
    padding: 30px 150px;
    margin: 40px;
    background-color: #fff;

}

#maltai2{
     float: right;
    width: 400px;
    height: auto;
    margin: 0 0 0px 0px;
    padding: 10px 30px 30px;
}

#maltai4{
     float: right;
    width: 260px;
    height: auto;
    margin: 0 0 0px 0px;
    padding: 3px;
}



#menu1 {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 1em 0;
    list-style-type: none;
    background-color: #000;
}
#menu1 li { display:inline }
#menu1 a {
  float:left;
  padding: 0.25em 1em;
  margin: 8px 100px;
  color: #DDD;
  text-decoration: none;
}
#menu1 a:hover { background-color:#333}	

#footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #ccccb3;
}

#spar2{
       width:160px;
     padding: 5px 20px;
}



#otp2{
   width:160px;
     padding: 5px 20px;
}

#eon{
    width:160px;
     padding: 5px 20px;
}

#logok{
  width:85px;
    
     padding: 5px 20px;
}

#solum{
  width:65px;
    
     padding: 5px 20px;
}

#szerencse{
  width:65px;
    
     padding: 5px 20px;
}

#kraft{
    width:160px;
    
     padding: 5px 20px;
}

#datum{
  float:right;
  background-color: #ffffcc;
    border: 2px solid #777;
    border-radius: 5px;
    padding:30px 10px 0px;
}

#tablazat{
  
margin: 0px;
  padding: 0px 200px;
  
  border-radius:5px;
    background-color: #ffffcc;
}

 #active{
  background-color: white;
}

#box{
  border:2px solid #777;
  border-radius: 5px;
  background-color: #ffffcc;
  margin: 10px 10px 10px 10px;
  padding:30px 30px 30px 30px;
}

#videohatter{
  background-image: url('videohatter.jpg'); 
  padding:30px 40px;
  background-size: 2400px;
  background-repeat: no-repeat; 
}

#kecskemet{
  background-color: #F8FCB9;
  padding:30px 40px;
}